*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 45%;
    height: 580px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 10px 15px;

}