*,
*:after,
*:before {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
header ul {
  overflow: hidden;
  list-style: none;
  text-align: justify;
  /* display: flex; */
  width: 100%;
  /* align-items: center; */
  /* justify-content: space-between; */
}
header ul:after {
  content: "";
  width: 100%;
  display: inline-block;
  text-align: justify;
}
header ul > li {
  /* float: left; */
  display: inline-block;
  padding: 5px 20px;
}
.box {
  background: yellow;
  padding: 20px;
  border: 5px dotted #f00;
  border-bottom: 0;
  border-right-color: green;
  border-left-width: 20px;
  border-radius: 15px;
  width: 200px;
  margin: 0 auto;
  box-shadow: 0 0 0 0 #000;
  transition: box-shadow 0.5s;
}

.box:hover {
  box-shadow: 2px 5px 15px 0 #000;
}

.menu li {
  list-style: none;
}
.menu li::before {
  content: "\2615";
}
.boxes {
  display: none;
}

.boxes li {
  display: inline-block;
}
.hold {
  display: inline-block;
}
.vini {
  display: inline-block;
  border: 3px solid green;
}
.b {
  overflow: hidden;
}

.vini img {
  float: left;
}
