.container-fluid {
    max-width: 100%;
    min-width: 320px;
}

.card-img-top {
    width: 100px;
    height: 100px;
}

.go {
    width: 100%;
    background-color: #F7F7F7 ;
    border-top: 1px solid lightgrey;
}

